@import "tailwindcss";

:root {
  --background: #F9FBFD;
  --secondaryBackground: #457B9D;
  --accentColor: #C06C0D;
  --lightAccentColor: #eaac66;
  --accentColor2: #D93643;
  --fontColor: #222324;
}

@theme inline {
  --color-background: var(--background);
  --color-secondaryBackground: var(--secondaryBackground);
  --color-accentColor: var(--accentColor);
  --color-lightAccentColor: var(--lightAccentColor);
  --color-accentColor2: var(--accentColor2);
  --color-fontColor: var(--fontColor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--background);
    --color-secondaryBackground: var(--secondaryBackground);
    --color-accentColor: var(--accentColor);
    --color-lightAccentColor: var(--lightAccentColor);
    --color-accentColor2: var(--accentColor2);
    --color-fontColor: var(--fontColor);
  }
}

body {
  background: var(--background);
  color: var(--fontColor);
  font-family: var(--font-wix-madefor-display), var(--font-dm-sans);
}